* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

button {
  cursor: pointer;
}

.container {
  margin: 6.25rem auto 0;
}

.container .wrapper .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.container .wrapper .hero > img {
  width: 87px;
}

.container .wrapper .hero .title {
  font-size: 2.525rem;
  font-weight: bold;
  color: #fffcf9;
}

.container .wrapper .content {
  max-width: 628px;
  margin-top: 1.875rem;
}

.container .wrapper .content .movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.125rem;
}

.container .wrapper .content .movie .movie-image img {
  height: 320px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container .wrapper .content .movie .movie-image img:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.container .wrapper .content .movie .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  text-align: left;
}

.container .wrapper .content .movie .info .movie-title {
  font-size: 1.25rem;
  color: #b3b3b3;
}

.container .wrapper .content .movie .info .movie-description {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #b3b3b3;
}

.container .wrapper .content .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.125rem;
}

.container .wrapper .content .error img {
  height: 300px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.container .wrapper .content .error strong {
  font-size: 1.25rem;
  color: #fffcf9;
}

.container .wrapper .text {
  margin-top: 1.875rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wrapper .text button {
  padding: 0.875rem 0.825rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-weight: bold;
  background: #e9e6e3;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #1a1a1a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container .wrapper .text button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.container .wrapper .text button img {
  width: 36px;
}

.container .wrapper .text p {
  margin-top: 1.625rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #fffcf9;
}

@media (max-width: 425px) {
  .container .wrapper .hero {
    text-align: center;
  }
  .container .wrapper .content .movie {
    padding: 0 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .wrapper .content .movie .movie-image img {
    height: auto;
    width: 70%;
  }
  .container .wrapper .text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 320px) {
  .container .wrapper .hero .title {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */